<div class="img-bg bg-dark" (window:scroll)="printvh()">
    <div class="cursor" [style.top]="top" [style.left]="left" [ngClass]="{'expand':expand}"></div>
    <div class="position-fixed vw-100 py-2 bg-glass">
        <div class="row justify-content-center">
            <div class="col-3 py-3 text-center" (click)="scrollToWorks()">
                <a [ngClass]="{'text-warning h1 fw-light': scrollPosition[1] >= worksPos - 250 && scrollPosition[1] < aboutPos - 450}">Works</a>
            </div>
            <div class="col-3 py-3 text-center" (click)="scrollToAbout()">
                <a [ngClass]="{'text-warning h1 fw-light': scrollPosition[1] >= aboutPos - 250 && scrollPosition[1] < contactPos - 450}">About me</a>
            </div>
            <div class="col-3 py-3 text-center" (click)="scrollToContact()">
                <a [ngClass]="{'text-warning h1 fw-light': scrollPosition[1] >= contactPos - 250}">Contact</a>
            </div>
        </div>
    </div>

    <div class="container py-5 vh-100">
        <div class="row p-5">
            <div class="col-12 py-5">
                <div class="header-title px-2 pb-1 mt-5 text-center">
                    <h1 class="display-2 fw-lighter m-0" [ngStyle]="{'transform': 'translateX(' + scrollPosition[1] + 'px)'}">Mauro Titanio</h1>
                    <p class="fw-normal op-5 ms-1 h6" [ngStyle]="{'transform': 'translateX(' + -scrollPosition[1] + 'px)'}">Front-end developer</p>
                </div>
            </div>
        </div>
    </div>
    <div id="works" class="container py-5 min-vh-100">
        <div class="row justify-content-center py-5">
            <div class="col-10 py-5">
                <div class="row row-cols-1 row-cols-md-3 g-4 py-5">
                    <div class="col">
                        <div class="card h-100 bg-dark" data-aos="fade-up" data-aos-delay="50">
                            <img src="https://i.imgur.com/MkvQFfr.png" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Plataforma de asociaciones de Castilla-La Mancha</h5>
                                <p class="card-text text-muted">Web-app made with Angular to improve associationism in Castilla-La Mancha</p>
                            </div>
                            <div class="card-footer bg-secondary">
                                <small class="text-muted"><a href="" class="text-warning">Visit the project <i class="bi bi-arrow-right-circle ms-2 align-middle"></i></a></small>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card h-100 bg-dark" data-aos="fade-up" data-aos-delay="200">
                            <img src="https://i.imgur.com/FXz3nRV.png" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">MiniBio App</h5>
                                <p class="card-text text-muted">Web-app, similar to Linktree, made with Angular. </p>
                            </div>
                            <div class="card-footer bg-secondary">
                                <small class="text-muted"><a href="" class="text-warning">Visit the project <i class="bi bi-arrow-right-circle ms-2 align-middle"></i></a></small>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card h-100 bg-dark" data-aos="fade-up" data-aos-delay="350">
                            <img src="https://i.imgur.com/VtN53Dq.png" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Observatorio contra la LGTBIfobia de Castilla-La Mancha</h5>
                                <p class="card-text text-muted">Corporative website made in WordPress</p>
                            </div>
                            <div class="card-footer bg-secondary">
                                <small class="text-muted"><a href="" class="text-warning">Visit the project <i class="bi bi-arrow-right-circle ms-2 align-middle"></i></a></small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="aboutMe" class="container py-5 min-vh-100">
        <div class="row justify-content-center py-5">
            <div class="col-lg-8 col-md-12 col-sm-12 p-5 mt-5">
                <div class="col-md-9 mt-4 border-start border-secondary ps-4 border-3">
                    <p class="fw-lighter" data-aos="fade-left" data-aos-delay="200"><span class="fw-normal">I am an Italian front-end developer based in Spain.</span><br> I studied art and communication and then I got interested in web design.<br>So, at the age of 28, I decided to learn front-end development.<br>I
                        have some experience with the most sought after frameworks and libraries, <span class="fw-normal">Angular, React.js and JQuery, and with UI / UX design.</span><br> I never get tired of learning new things</p>
                    <a href=" " class="ms-2 " data-aos="fade-up" data-aos-delay="400"><i class="bi bi-github h4 text-warning"></i></a><a href=" " class="ms-4" data-aos="fade-up" data-aos-delay="600"><i class="bi bi-linkedin h4 text-warning"></i></a>
                    <a href=" " class="ms-4 " data-aos="fade-up" data-aos-delay="800"><i class="bi bi-person-badge h4 text-warning"></i></a>
                </div>
            </div>
        </div>
    </div>
    <div id="contact" class="container py-5 vh-100">
        <div class="row py-5 justify-content-center ">
            <div class="col-lg-6 col-md-8 col-sm-10 py-5 mt-5">
                <h3 class="text-center mb-4 fw-light ">Get in touch</h3>
                <form class="text-primary" [formGroup]="cForm">
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="floatingName" placeholder="Name">
                        <label for="floatingPassword ">Name</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
                        <label for="floatingInput ">Email address</label>
                    </div>
                    <div class="form-floating">
                        <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 100px"></textarea>
                        <label for="floatingTextarea2">Message</label>
                    </div>
                    <div class="text-center">
                        <button type="submit" class="btn btn-warning mt-4 w-100">Send</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>