$primary: #212529;
$secondary: #495057;
$light: #f8f9fa;
$btn-padding-x: 1.3rem;
$btn-padding-y: 0.5rem;
$input-btn-border-width: 0;
$input-btn-focus-width: 0;
$btn-focus-width: 0;
$font-family-base: 'Karla',
sans-serif;
$headings-font-family: 'Montserrat',
sans-serif;